#spring:
#  datasource:
#    url: jdbc:postgresql://localhost:60578/userservicedb
#    username: postgres
#    password: postgres
#    driver-class-name: org.postgresql.Driver
#  jpa:
#    hibernate:
#      ddl-auto: update
